# 课程购买链接汇总(折后 $9.9)

每个月Coupon更新时间：

- 太平洋时间15号0点
- 北京时间15号的15点 
- 阿姆斯特丹时间15号09点

https://www.worldtimebuddy.com/ 有效期5天

|课程名称  |   购买链接      |
|--------|-------------|
{%- for course in course_list %} 
|{{course.course_name}}|[购买链接]({{course.link_with_coupon}})|
{%- endfor %}
